Babel==2.9.1
cython
Django==3.2.5
django-allauth==0.45.0
django-filter==2.4.0
django-rest-auth==0.9.5
djangorestframework==3.12.4
h5py==3.1.0
imgaug==0.4.0
IPython[all]
Keras==2.2.5
matplotlib==3.3.4
numpy==1.19.5
opencv-python==4.5.2.54
pandas==1.1.5
Pillow==8.2.0
protobuf==3.17.3
QtPy==1.9.0
requests==2.25.1
scikit-image==0.17.2
scipy==1.5.4
six
sqlparse==0.4.1
tabulate==0.8.9
tensorflow==2.5.0
django-cors-headers==3.10.0
celery==5.1.2
redis==4.3.6
jsonschema==3.2.0
protobuf
pandas
